In [1]:
from supabase import create_client

# Replace with your details
url = "https://kvbekcdyfhnpktlmcdvj.supabase.co"
key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2YmVrY2R5ZmhucGt0bG1jZHZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ4OTgxNjgsImV4cCI6MjA3MDQ3NDE2OH0.mKTKbxHCuNtfzd2GI3kVpqbHnwc_rleywJ2yM8NKLHM"

supabase = create_client(url, key)

In [2]:
import pandas as pd

# Fetch data from Supabase
response = supabase.table("College-Placements-Data").select("*").execute()

# Create DataFrame
data = pd.DataFrame(response.data)

# # Sort by College Name and Year
# data.sort_values(by=["College Name", "Year"], ascending=[True, True], inplace=True)

# Drop _id column if it exists
if "_id" in data.columns:
    data.drop("_id", axis=1, inplace=True)

# Display nicely in Jupyter
data

,College Name,University Affiliation,City,State,NIRF Rank,Year,Placement Percentage,Highest Package,Median Salary (LPA),Total Students Eligible,...,CSE(Eligible),CSE(Placed),ECE(Eligible),ECE(Placed),ME(Eligible),ME(Placed),EEE(Eligible),EEE(Placed),Top Recruiters,College Images
0,National Institute of Technology Karnataka,Mangalore University,Surathkal,Karnataka,17,2018-2019,87.80,39 LPA,8 LPA,787,...,416,362,185,161,138,120,46,40,"Microsoft,Oracle,Wipro,Dell,L&T,Deloitte,Amazo...",https://timess3spore.s3.amazonaws.com/ndata/me...
1,National Institute of Technology Karnataka,Mangalore University,Surathkal,Karnataka,17,2019-2020,83.25,43.31 LPA,9.86 LPA,756,...,400,333,178,148,133,110,44,37,"Microsoft,Oracle,Wipro,Dell,L&T,Deloitte,Amazo...",https://timess3spore.s3.amazonaws.com/ndata/me...
2,National Institute of Technology Karnataka,Mangalore University,Surathkal,Karnataka,17,2020-2021,82.10,51.75 LPA,10 LPA,782,...,414,340,184,151,137,113,46,38,"Microsoft,Oracle,Wipro,Dell,L&T,Deloitte,Amazo...",https://timess3spore.s3.amazonaws.com/ndata/me...
3,National Institute of Technology Karnataka,Mangalore University,Surathkal,Karnataka,17,2021-2022,87.69,45.03 LPA,12.84 LPA,837,...,443,389,197,173,147,129,49,43,"Microsoft,Oracle,Wipro,Dell,L&T,Deloitte,Amazo...",https://timess3spore.s3.amazonaws.com/ndata/me...
4,National Institute of Technology Karnataka,Mangalore University,Surathkal,Karnataka,17,2022-2023,87.96,54.75 LPA,15 LPA,903,...,478,420,212,187,158,139,53,47,"Microsoft,Oracle,Wipro,Dell,L&T,Deloitte,Amazo...",https://timess3spore.s3.amazonaws.com/ndata/me...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Indian Institute of Technology Kharagpur,Autonomus Institute,Kharagpur,West Bengal,6,2018-2019,67.80,7.3 LPA,4 LPA,1768,...,936,635,416,282,310,210,104,71,"Microchip,Microland,Techmahindra,TATA,Qualcomm...",https://collegedunia.com/university/26007-iit-...
246,Indian Institute of Technology Kharagpur,Autonomus Institute,Kharagpur,West Bengal,6,2019-2020,74.60,52 LPA,4.5 LPA,2101,...,1112,831,494,369,368,275,124,92,"Microchip,Microland,Techmahindra,TATA,Qualcomm...",https://collegedunia.com/university/26007-iit-...
247,Indian Institute of Technology Kharagpur,Autonomus Institute,Kharagpur,West Bengal,6,2020-2021,73.70,57 LPA,4.45 LPA,2265,...,1199,885,533,393,397,293,133,98,"Microchip,Microland,Techmahindra,TATA,Qualcomm...",https://collegedunia.com/university/26007-iit-...
248,Indian Institute of Technology Kharagpur,Autonomus Institute,Kharagpur,West Bengal,6,2021-2022,78.70,56.95 LPA,4.5 LPA,2058,...,1090,858,484,381,361,284,121,95,"Microchip,Microland,Techmahindra,TATA,Qualcomm...",https://collegedunia.com/university/26007-iit-...
249,Indian Institute of Technology Kharagpur,Autonomus Institute,Kharagpur,West Bengal,6,2022-2023,80.80,60 LPA,7.24 LPA,2267,...,1200,971,533,432,397,322,133,108,"Microchip,Microland,Techmahindra,TATA,Qualcomm...",https://collegedunia.com/university/26007-iit-...

In [3]:
data.head(7) # Display the first 10 rows of the DataFrame

,College Name,University Affiliation,City,State,NIRF Rank,Year,Placement Percentage,Highest Package,Median Salary (LPA),Total Students Eligible,...,CSE(Eligible),CSE(Placed),ECE(Eligible),ECE(Placed),ME(Eligible),ME(Placed),EEE(Eligible),EEE(Placed),Top Recruiters,College Images
0,National Institute of Technology Karnataka,Mangalore University,Surathkal,Karnataka,17,2018-2019,87.80,39 LPA,8 LPA,787,...,416,362,185,161,138,120,46,40,"Microsoft,Oracle,Wipro,Dell,L&T,Deloitte,Amazo...",https://timess3spore.s3.amazonaws.com/ndata/me...
1,National Institute of Technology Karnataka,Mangalore University,Surathkal,Karnataka,17,2019-2020,83.25,43.31 LPA,9.86 LPA,756,...,400,333,178,148,133,110,44,37,"Microsoft,Oracle,Wipro,Dell,L&T,Deloitte,Amazo...",https://timess3spore.s3.amazonaws.com/ndata/me...
2,National Institute of Technology Karnataka,Mangalore University,Surathkal,Karnataka,17,2020-2021,82.10,51.75 LPA,10 LPA,782,...,414,340,184,151,137,113,46,38,"Microsoft,Oracle,Wipro,Dell,L&T,Deloitte,Amazo...",https://timess3spore.s3.amazonaws.com/ndata/me...
3,National Institute of Technology Karnataka,Mangalore University,Surathkal,Karnataka,17,2021-2022,87.69,45.03 LPA,12.84 LPA,837,...,443,389,197,173,147,129,49,43,"Microsoft,Oracle,Wipro,Dell,L&T,Deloitte,Amazo...",https://timess3spore.s3.amazonaws.com/ndata/me...
4,National Institute of Technology Karnataka,Mangalore University,Surathkal,Karnataka,17,2022-2023,87.96,54.75 LPA,15 LPA,903,...,478,420,212,187,158,139,53,47,"Microsoft,Oracle,Wipro,Dell,L&T,Deloitte,Amazo...",https://timess3spore.s3.amazonaws.com/ndata/me...
5,Manipal Institute of Technology,Manipal Academy of Higher Education (MAHE),Manipal,Karnataka,56,2018-2019,31.85,53 LPA,5.5 LPA,1711,...,906,288,403,128,300,96,101,32,"Aditya Birla Group,Amazon,Bosch,Cipla,ICICI Ba...",https://images.shiksha.com/mediadata/images/16...
6,Manipal Institute of Technology,Manipal Academy of Higher Education (MAHE),Manipal,Karnataka,56,2019-2020,43.96,22 LPA,7.2 LPA,1633,...,865,780,384,169,286,126,96,42,"Aditya Birla Group,Amazon,Bosch,Cipla,ICICI Ba...",https://images.shiksha.com/mediadata/images/16...

In [4]:
print(data[['Year', 'Placement Percentage']].isnull().sum())
constant_cols = data.groupby('College Name').nunique().max() == 1
constant_cols = constant_cols[constant_cols].index.tolist()
print("Constant columns:", constant_cols)

Year                    0
Placement Percentage    0
dtype: int64
Constant columns: ['University Affiliation', 'City', 'State', 'College Images']

In [5]:
data['Year'] = data['Year'].astype(str).str.strip().str.split('-').str[-1]

In [6]:
data.head(5)

,College Name,University Affiliation,City,State,NIRF Rank,Year,Placement Percentage,Highest Package,Median Salary (LPA),Total Students Eligible,...,CSE(Eligible),CSE(Placed),ECE(Eligible),ECE(Placed),ME(Eligible),ME(Placed),EEE(Eligible),EEE(Placed),Top Recruiters,College Images
0,National Institute of Technology Karnataka,Mangalore University,Surathkal,Karnataka,17,2019,87.80,39 LPA,8 LPA,787,...,416,362,185,161,138,120,46,40,"Microsoft,Oracle,Wipro,Dell,L&T,Deloitte,Amazo...",https://timess3spore.s3.amazonaws.com/ndata/me...
1,National Institute of Technology Karnataka,Mangalore University,Surathkal,Karnataka,17,2020,83.25,43.31 LPA,9.86 LPA,756,...,400,333,178,148,133,110,44,37,"Microsoft,Oracle,Wipro,Dell,L&T,Deloitte,Amazo...",https://timess3spore.s3.amazonaws.com/ndata/me...
2,National Institute of Technology Karnataka,Mangalore University,Surathkal,Karnataka,17,2021,82.10,51.75 LPA,10 LPA,782,...,414,340,184,151,137,113,46,38,"Microsoft,Oracle,Wipro,Dell,L&T,Deloitte,Amazo...",https://timess3spore.s3.amazonaws.com/ndata/me...
3,National Institute of Technology Karnataka,Mangalore University,Surathkal,Karnataka,17,2022,87.69,45.03 LPA,12.84 LPA,837,...,443,389,197,173,147,129,49,43,"Microsoft,Oracle,Wipro,Dell,L&T,Deloitte,Amazo...",https://timess3spore.s3.amazonaws.com/ndata/me...
4,National Institute of Technology Karnataka,Mangalore University,Surathkal,Karnataka,17,2023,87.96,54.75 LPA,15 LPA,903,...,478,420,212,187,158,139,53,47,"Microsoft,Oracle,Wipro,Dell,L&T,Deloitte,Amazo...",https://timess3spore.s3.amazonaws.com/ndata/me...

In [7]:
result = supabase.table("College-Placements-Data") \
                 .select("*") \
                 .eq("College Name", "Christ University") \
                 .execute()

for row in result.data:
    print(row)

{'_id': 51, 'College Name': 'Christ University', 'University Affiliation': '  Deemed To Be University', 'City': 'Bengaluru', 'State': 'Karnataka', 'NIRF Rank': 60, 'Year': '2018-2019', 'Placement Percentage': 89.9, 'Highest Package': '35 LPA', 'Median Salary (LPA)': '5.20 LPA', 'Total Students Eligible': 1000, 'Total Students Placed': 899, 'CSE(Eligible)': 529, 'CSE(Placed)': 476, 'ECE(Eligible)': 235, 'ECE(Placed)': 211, 'ME(Eligible)': 175, 'ME(Placed)': 158, 'EEE(Eligible)': 59, 'EEE(Placed)': 53, 'Top Recruiters': "Deloitte,Byju's,HSBC,Accenture,Amazon,Wipro,TCS,Vedanta,HP,Dell,Infosys", 'College Images': 'https://media.collegedekho.com/media/img/institute/crawled_images/Christ_University-Faculty_of_Engineeringc80ac.jpg'}
{'_id': 52, 'College Name': 'Christ University', 'University Affiliation': '  Deemed To Be University', 'City': 'Bengaluru', 'State': 'Karnataka', 'NIRF Rank': 93, 'Year': '2019-2020', 'Placement Percentage': 90, 'Highest Package': '13.2 LPA', 'Median Salary (LPA)': '4.50 LPA', 'Total Students Eligible': 1054, 'Total Students Placed': 950, 'CSE(Eligible)': 558, 'CSE(Placed)': 503, 'ECE(Eligible)': 248, 'ECE(Placed)': 223, 'ME(Eligible)': 185, 'ME(Placed)': 166, 'EEE(Eligible)': 62, 'EEE(Placed)': 56, 'Top Recruiters': "Deloitte,Byju's,HSBC,Accenture,Amazon,Wipro,TCS,Vedanta,HP,Dell,Infosys", 'College Images': 'https://media.collegedekho.com/media/img/institute/crawled_images/Christ_University-Faculty_of_Engineeringc80ac.jpg'}
{'_id': 53, 'College Name': 'Christ University', 'University Affiliation': '  Deemed To Be University', 'City': 'Bengaluru', 'State': 'Karnataka', 'NIRF Rank': 93, 'Year': '2020-2021', 'Placement Percentage': 65.2, 'Highest Package': '13.2 LPA', 'Median Salary (LPA)': '4 LPA', 'Total Students Eligible': 467, 'Total Students Placed': 36, 'CSE(Eligible)': 247, 'CSE(Placed)': 19, 'ECE(Eligible)': 110, 'ECE(Placed)': 8, 'ME(Eligible)': 82, 'ME(Placed)': 6, 'EEE(Eligible)': 27, 'EEE(Placed)': 2, 'Top Recruiters': "Deloitte,Byju's,HSBC,Accenture,Amazon,Wipro,TCS,Vedanta,HP,Dell,Infosys", 'College Images': 'https://media.collegedekho.com/media/img/institute/crawled_images/Christ_University-Faculty_of_Engineeringc80ac.jpg'}
{'_id': 54, 'College Name': 'Christ University', 'University Affiliation': '  Deemed To Be University', 'City': 'Bengaluru', 'State': 'Karnataka', 'NIRF Rank': 93, 'Year': '2021-2022', 'Placement Percentage': 8.5, 'Highest Package': '13.2 LPA', 'Median Salary (LPA)': '5 LPA', 'Total Students Eligible': 444, 'Total Students Placed': 38, 'CSE(Eligible)': 235, 'CSE(Placed)': 20, 'ECE(Eligible)': 104, 'ECE(Placed)': 9, 'ME(Eligible)': 78, 'ME(Placed)': 7, 'EEE(Eligible)': 26, 'EEE(Placed)': 2, 'Top Recruiters': "Deloitte,Byju's,HSBC,Accenture,Amazon,Wipro,TCS,Vedanta,HP,Dell,Infosys", 'College Images': 'https://media.collegedekho.com/media/img/institute/crawled_images/Christ_University-Faculty_of_Engineeringc80ac.jpg'}
{'_id': 55, 'College Name': 'Christ University', 'University Affiliation': '  Deemed To Be University', 'City': 'Bengaluru', 'State': 'Karnataka', 'NIRF Rank': 93, 'Year': '2022-2023', 'Placement Percentage': 75, 'Highest Package': '13.2 LPA', 'Median Salary (LPA)': '5.6 LPA', 'Total Students Eligible': 373, 'Total Students Placed': 280, 'CSE(Eligible)': 197, 'CSE(Placed)': 148, 'ECE(Eligible)': 88, 'ECE(Placed)': 66, 'ME(Eligible)': 65, 'ME(Placed)': 49, 'EEE(Eligible)': 22, 'EEE(Placed)': 16, 'Top Recruiters': "Deloitte,Byju's,HSBC,Accenture,Amazon,Wipro,TCS,Vedanta,HP,Dell,Infosys", 'College Images': 'https://media.collegedekho.com/media/img/institute/crawled_images/Christ_University-Faculty_of_Engineeringc80ac.jpg'}

Prediction

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import numpy as np

# Feature selection
features = ['NIRF Rank', 'Total Students Eligible', 'Total Students Placed',
            'CSE(Eligible)', 'CSE(Placed)', 'ECE(Eligible)', 'ECE(Placed)',
            'ME(Eligible)', 'ME(Placed)', 'EEE(Eligible)', 'EEE(Placed)']

# Target variables
target_placement = 'Placement Percentage'
target_salary = 'Median Salary (LPA)'

# Function to get user input for the college
def get_user_college_data():
    college_name = input("Enter your college name: ")

    # Filter the data for the selected college
    try:
        college_data_filtered = data[data['College Name'] == college_name].copy()
    except NameError:
        print("Error: 'data' DataFrame not defined. Please load your data.")
        return None, None, None, None

    if college_data_filtered.empty:
        print("College not found!")
        return None, None, None, None

    # Convert Year to numeric
    college_data_filtered['Year'] = college_data_filtered['Year'].astype(str).str.strip().str.split('-').str[-1].astype(int)

    # Select features and targets
    X = college_data_filtered[features]
    y_placement = college_data_filtered[target_placement]
    y_salary = college_data_filtered[target_salary].astype(str).str.replace(' LPA', '', regex=False).astype(float)
    return X, y_placement, y_salary, college_name

# Train the model and make predictions
def train_and_predict(college_data, X, y_placement, y_salary, college_name):
    # Split the data into training and testing sets
    X_train, X_test, y_train_placement, y_test_placement = train_test_split(X, y_placement, test_size=0.2, random_state=42)
    X_train_salary, X_test_salary, y_train_salary, y_test_salary = train_test_split(X, y_salary, test_size=0.2, random_state=42)

    # Scaling the data for better performance
    scaler_placement = StandardScaler()
    scaler_salary = StandardScaler()

    # Scale placement data
    X_train = scaler_placement.fit_transform(X_train)
    X_test = scaler_placement.transform(X_test)

    # Scale salary data
    X_train_salary = scaler_salary.fit_transform(X_train_salary)
    X_test_salary = scaler_salary.transform(X_test_salary)

    # Choose a model (RandomForestRegressor for both)
    model_placement = RandomForestRegressor(n_estimators=100, random_state=42)
    model_salary = RandomForestRegressor(n_estimators=100, random_state=42)

    # Train models
    model_placement.fit(X_train, y_train_placement)
    model_salary.fit(X_train_salary, y_train_salary)

    # Predict for 2024 and 2025 using the last year's data
    X_future = X.iloc[[-1]]  # Keep as DataFrame to retain feature names
    X_future_scaled_placement = scaler_placement.transform(X_future)
    X_future_scaled_salary = scaler_salary.transform(X_future)

    predicted_placement_2024 = model_placement.predict(X_future_scaled_placement)[0]
    predicted_salary_2024 = model_salary.predict(X_future_scaled_salary)[0]

    predicted_placement_2025 = predicted_placement_2024 * 1.02  # Assuming a 2% growth for 2025
    predicted_salary_2025 = predicted_salary_2024 * 1.05  # Assuming a 5% growth for 2025
    years = [2024, 2025]
    predicted_placements = [predicted_placement_2024, predicted_placement_2025]
    predicted_salaries = [predicted_salary_2024, predicted_salary_2025]
    plot_predictions(college_name, college_data, predicted_placements, predicted_salaries, years)
    print(f"\nPredicted Placement Percentage for {college_name} (2024): {predicted_placement_2024:.2f}%")
    print(f"Predicted Median Salary for {college_name} (2024): {predicted_salary_2024:.2f} LPA")
    print(f"\nPredicted Placement Percentage for {college_name} (2025): {predicted_placement_2025:.2f}%")
    print(f"Predicted Median Salary for {college_name} (2025): {predicted_salary_2025:.2f} LPA")

def plot_predictions(college_name, college_data, predicted_placements, predicted_salaries, years):
    # Filter data for the selected college
    college_data_filtered = college_data[college_data['College Name'] == college_name].copy()
    if college_data_filtered.empty:
        print(f"No data found for college: {college_name}")
        return

    # Convert Year to numeric
    college_data_filtered['Year'] = college_data_filtered['Year'].astype(str).str.strip().str.split('-').str[-1].astype(int)

    # Clean Median Salary (LPA)
    college_data_filtered['Median Salary (LPA)'] = college_data_filtered['Median Salary (LPA)'].astype(str).str.replace(' LPA', '', regex=False).astype(float)

    # Extract historical data
    historical_years = college_data_filtered['Year']
    historical_placement = college_data_filtered['Placement Percentage']
    historical_salary = college_data_filtered['Median Salary (LPA)']

    # Combine historical and predicted data
    all_years = pd.concat([pd.Series(historical_years), pd.Series(years)], ignore_index=True)
    all_placement_values = pd.concat([pd.Series(historical_placement), pd.Series(predicted_placements)], ignore_index=True)
    all_salary_values = pd.concat([pd.Series(historical_salary), pd.Series(predicted_salaries)], ignore_index=True)

    # Create subplots
    fig, axs = plt.subplots(1, 2, figsize=(15, 5))
    fig.suptitle(f'Placement and Salary Trends for {college_name}', fontsize=16)

    # Plot Placement Percentage Trend
    axs[0].plot(all_years, all_placement_values, marker='o', linestyle='-')
    axs[0].set_title('Placement Percentage Trend')
    axs[0].set_xlabel('Year')
    axs[0].set_ylabel('Placement Percentage (%)')
    axs[0].grid(True)
    axs[0].set_xticks(all_years)  # Ensure all years are on x-axis

    # Plot Median Salary Trend
    axs[1].plot(all_years, all_salary_values, marker='o', linestyle='-', color='orange')
    axs[1].set_title('Median Salary Trend')
    axs[1].set_xlabel('Year')
    axs[1].set_ylabel('Median Salary (LPA)')
    axs[1].grid(True)
    axs[1].set_xticks(all_years)

    # Adjust layout for better spacing
    plt.tight_layout(rect=[0, 0.03, 1, 0.95])  # Make space for the title
    plt.show()

# Run the program
def main():
    X, y_placement, y_salary, college_name = get_user_college_data()
    if X is not None:
        # Train the models and predict
        train_and_predict(data, X, y_placement, y_salary, college_name)

if __name__ == "__main__":
    main()

Prediction Test

In [ ]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Modified plot_predictions function to include 2023 predicted and actual values
def plot_predictions(college_name, college_data, predicted_placement, predicted_salary, years, actual_2023_placement=None, actual_2023_salary=None):
    try:
        # Filter data for the selected college up to 2022
        college_data_filtered = college_data[
            (college_data['College Name'] == college_name) & 
            (college_data['Year'].astype(str).str.strip().str.split('-').str[-1].astype(int) <= 2022)
        ].copy()
        
        if college_data_filtered.empty:
            print(f"No data found for {college_name} up to 2022.")
            return

        # Convert Year to numeric
        college_data_filtered['Year'] = college_data_filtered['Year'].astype(str).str.strip().str.split('-').str[-1].astype(int)
        
        # Clean Median Salary (LPA)
        college_data_filtered['Median Salary (LPA)'] = college_data_filtered['Median Salary (LPA)'].astype(str).str.replace(' LPA', '', regex=False).astype(float)

        # Extract historical data
        historical_years = college_data_filtered['Year'].tolist()
        historical_placement = college_data_filtered['Placement Percentage'].tolist()
        historical_salary = college_data_filtered['Median Salary (LPA)'].tolist()

        # Combine historical and predicted data
        all_years = historical_years + [2023]
        all_placement_values = historical_placement + [predicted_placement]
        all_salary_values = historical_salary + [predicted_salary]

        # Create subplots
        fig, axs = plt.subplots(1, 2, figsize=(15, 5))
        fig.suptitle(f'Placement and Salary Trends for {college_name} (Including 2023 Prediction)', fontsize=16)

        # Plot Placement Percentage Trend
        axs[0].plot(all_years, all_placement_values, marker='o', linestyle='-', label='Predicted')
        if actual_2023_placement is not None:
            axs[0].plot(2023, actual_2023_placement, marker='x', color='red', label='Actual 2023')
        axs[0].set_title('Placement Percentage Trend')
        axs[0].set_xlabel('Year')
        axs[0].set_ylabel('Placement Percentage (%)')
        axs[0].grid(True)
        axs[0].set_xticks(all_years)
        axs[0].legend()

        # Plot Median Salary Trend
        axs[1].plot(all_years, all_salary_values, marker='o', linestyle='-', color='orange', label='Predicted')
        if actual_2023_salary is not None:
            axs[1].plot(2023, actual_2023_salary, marker='x', color='red', label='Actual 2023')
        axs[1].set_title('Median Salary Trend')
        axs[1].set_xlabel('Year')
        axs[1].set_ylabel('Median Salary (LPA)')
        axs[1].grid(True)
        axs[1].set_xticks(all_years)
        axs[1].legend()

        # Adjust layout and display plot
        plt.tight_layout(rect=[0, 0.03, 1, 0.95])
        plt.show()

    except Exception as e:
        print(f"Error in plot_predictions for {college_name}: {str(e)}")

# Modified train_and_predict function to predict 2023 and compare with actual
def train_and_predict(college_data, X, y_placement, y_salary, college_name):
    try:
        # Check if dataset is sufficient
        if len(X) < 2:
            print(f"Warning: Insufficient data for {college_name}. At least 2 data points required for a meaningful test set. Training on all available data.")
            # If not enough data for a split, train on all data and skip test set evaluation
            X_train = X
            y_train_placement = y_placement
            y_train_salary = y_salary
            perform_test_evaluation = False
        else:
            # Split the data into training and testing sets (80-20 split)
            X_train, X_test, y_train_placement, y_test_placement = train_test_split(
                X, y_placement, test_size=0.2, random_state=42
            )
            X_train_salary, X_test_salary, y_train_salary, y_test_salary = train_test_split(
                X, y_salary, test_size=0.2, random_state=42
            )
            perform_test_evaluation = True

        # Initialize models and scalers
        scaler_placement = StandardScaler()
        scaler_salary = StandardScaler()
        model_placement = RandomForestRegressor(n_estimators=100, random_state=42)
        model_salary = RandomForestRegressor(n_estimators=100, random_state=42)

        # Scale and train placement model
        X_train_scaled = scaler_placement.fit_transform(X_train)
        model_placement.fit(X_train_scaled, y_train_placement)

        # Scale and train salary model
        X_train_salary_scaled = scaler_salary.fit_transform(X_train_salary)
        model_salary.fit(X_train_salary_scaled, y_train_salary)

        # Perform test set evaluation if applicable
        if perform_test_evaluation:
            # Predict on the test set
            y_pred_placement = model_placement.predict(scaler_placement.transform(X_test))
            y_pred_salary = model_salary.predict(scaler_salary.transform(X_test_salary))

            # Calculate performance metrics for placement
            # r2_placement = r2_score(y_test_placement, y_pred_placement)
            mae_placement = mean_absolute_error(y_test_placement, y_pred_placement)
            mse_placement = mean_squared_error(y_test_placement, y_pred_placement)
            rmse_placement = np.sqrt(mse_placement)
            # Calculate accuracy for placement (using MAE relative to the mean)
            accuracy_placement = 100 * (1 - (mae_placement / y_test_placement.mean()))

            # Calculate performance metrics for salary
            # r2_salary = r2_score(y_test_salary, y_pred_salary)
            mae_salary = mean_absolute_error(y_test_salary, y_pred_salary)
            mse_salary = mean_squared_error(y_test_salary, y_pred_salary)
            rmse_salary = np.sqrt(mse_salary)
            # Calculate accuracy for salary (using MAE relative to the mean)
            accuracy_salary = 100 * (1 - (mae_salary / y_test_salary.mean()))

            print(f"\n--- Performance Metrics for {college_name} Placement Model (2018–2022 Test Set) ---")
            # print(f"R² Score: {r2_placement:.4f}")
            print(f"Mean Absolute Error: {mae_placement:.2f}%")
            print(f"Mean Squared Error: {mse_placement:.2f}")
            print(f"Root Mean Squared Error: {rmse_placement:.2f}%")
            print(f"Accuracy: {accuracy_placement:.2f}%")

            print(f"\n--- Performance Metrics for {college_name} Salary Model (2018–2022 Test Set) ---")
            # print(f"R² Score: {r2_salary:.4f}")
            print(f"Mean Absolute Error: {mae_salary:.2f} LPA")
            print(f"Mean Squared Error: {mse_salary:.2f}")
            print(f"Root Mean Squared Error: {rmse_salary:.2f} LPA")
            print(f"Accuracy: {accuracy_salary:.2f}%")
        else:
            print(f"\n--- Performance Metrics for {college_name} Models ---")
            print(f"Note: No test set evaluation performed due to insufficient data (less than 2 data points for 2018-2022).")


        # Predict for 2023 using the last year's data (2022)
        year_2022_data = college_data[
            (college_data['College Name'] == college_name) & 
            (college_data['Year'].astype(str).str.strip().str.split('-').str[-1].astype(int) == 2022)
        ]
        if year_2022_data.empty:
            print(f"Error: 2022 data not found for {college_name}. Cannot make 2023 prediction.")
            return

        # Get the features for 2022 for prediction
        features = ['NIRF Rank', 'Total Students Eligible', 'Total Students Placed',
                            'CSE(Eligible)', 'CSE(Placed)', 'ECE(Eligible)', 'ECE(Placed)',
                            'ME(Eligible)', 'ME(Placed)', 'EEE(Eligible)', 'EEE(Placed)']
        X_future = year_2022_data[features]
        
        if X_future.empty:
            print(f"Error: Features for 2022 not found in dataset for {college_name}. Cannot make 2023 prediction.")
            return

        X_future_scaled_placement = scaler_placement.transform(X_future)
        X_future_scaled_salary = scaler_salary.transform(X_future)

        predicted_placement_2023 = model_placement.predict(X_future_scaled_placement)[0]
        predicted_salary_2023 = model_salary.predict(X_future_scaled_salary)[0]

        # Check for actual 2023 data
        actual_2023_data = college_data[
            (college_data['College Name'] == college_name) & 
            (college_data['Year'].astype(str).str.strip().str.split('-').str[-1].astype(int) == 2023)
        ]
        
        actual_2023_placement = None
        actual_2023_salary = None
        if not actual_2023_data.empty:
            actual_2023_placement = actual_2023_data['Placement Percentage'].iloc[0]
            actual_2023_salary = float(actual_2023_data['Median Salary (LPA)'].astype(str).str.replace(' LPA', '', regex=False).iloc[0])

        # Print predictions and comparison
        print(f"\n--- Predicted vs Actual for {college_name} (2023) ---")
        print(f"Predicted Placement Percentage (2023): {predicted_placement_2023:.2f}%")
        if actual_2023_placement is not None:
            print(f"Actual Placement Percentage (2023): {actual_2023_placement:.2f}%")
            print(f"Absolute Error (Placement): {abs(predicted_placement_2023 - actual_2023_placement):.2f}%")
            # Calculate prediction accuracy for 2023
            prediction_accuracy_placement = 100 * (1 - (abs(predicted_placement_2023 - actual_2023_placement) / actual_2023_placement))
            print(f"Prediction Accuracy (Placement): {prediction_accuracy_placement:.2f}%")
        else:
            print("Actual Placement Percentage (2023): Not available")

        print(f"Predicted Median Salary (2023): {predicted_salary_2023:.2f} LPA")
        if actual_2023_salary is not None:
            print(f"Actual Median Salary (2023): {actual_2023_salary:.2f} LPA")
            print(f"Absolute Error (Salary): {abs(predicted_salary_2023 - actual_2023_salary):.2f} LPA")
            # Calculate prediction accuracy for 2023
            prediction_accuracy_salary = 100 * (1 - (abs(predicted_salary_2023 - actual_2023_salary) / actual_2023_salary))
            print(f"Prediction Accuracy (Salary): {prediction_accuracy_salary:.2f}%")
        else:
            print("Actual Median Salary (2023): Not available")

        # Call plot_predictions
        plot_predictions(college_name, college_data, predicted_placement_2023, predicted_salary_2023, [2023], actual_2023_placement, actual_2023_salary)

    except Exception as e:
        print(f"Error in train_and_predict for {college_name}: {str(e)}")

# Modified get_user_college_data to prompt for college name and filter 2018–2022
def get_user_college_data(data):
    try:
        college_name = input("Enter your college name: ").strip()
        # Filter data for years 2018–2022
        college_data_filtered = data[
            (data['College Name'] == college_name) & 
            (data['Year'].astype(str).str.strip().str.split('-').str[-1].astype(int).between(2018, 2022))
        ].copy()
        
        if college_data_filtered.empty:
            print(f"College {college_name} not found or no data for years 2018–2022!")
            return None, None, None, None
        
        # Convert Year to numeric
        college_data_filtered['Year'] = college_data_filtered['Year'].astype(str).str.strip().str.split('-').str[-1].astype(int)
        
        # Select features and targets
        features = ['NIRF Rank', 'Total Students Eligible', 'Total Students Placed',
                            'CSE(Eligible)', 'CSE(Placed)', 'ECE(Eligible)', 'ECE(Placed)',
                            'ME(Eligible)', 'ME(Placed)', 'EEE(Eligible)', 'EEE(Placed)']
        target_placement = 'Placement Percentage'
        target_salary = 'Median Salary (LPA)'
        
        X = college_data_filtered[features]
        y_placement = college_data_filtered[target_placement]
        y_salary = college_data_filtered[target_salary].astype(str).str.replace(' LPA', '', regex=False).astype(float)
        
        return X, y_placement, y_salary, college_name
        
    except Exception as e:
        print(f"Error in get_user_college_data: {str(e)}")
        return None, None, None, None

# Modified main function
def main():
    
    X, y_placement, y_salary, college_name = get_user_college_data(data)
    if X is not None:
        train_and_predict(data, X, y_placement, y_salary, college_name)

# Run the program (assuming 'data' is loaded)
if __name__ == "__main__":
    main()